.container {
    position: fixed;
    bottom: 20px;
    left: 20px;
   padding-bottom: 100px;
}

.row {
    display: flex;
    flex-direction: row;
}

.box{
    width: 147px;
    height: 147px;
    flex-shrink: 0;
    background-color: #d9d9d9;
    border-radius: 15px;
    border: 1px solid;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box img {
    max-height: 100%;
    max-width: 100%;
}

.box-text {
    margin-top: 10px;
}

.button {
    display: flex;
    flex-direction: row;
}

.box button {
    border: none;
    background-color: #d9d9d9; 
}

#playerNameInput {
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    padding: 10px;
    z-index: 2;
}

#enterButton {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    padding: 10px;
    z-index: 2;
}

#playerName {
    left: 17%;
    transform: translateX(-50%);
    z-index: -1;
}